*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter;
}

body{
background:#0f1115;
color:white;
}

.navbar{
position:fixed;
width:100%;
display:flex;
justify-content:space-between;
padding:20px 60px;
background:rgba(0,0,0,.6);
backdrop-filter:blur(10px);
z-index:10;
}

.logo{
font-weight:800;
font-size:20px;
}

.nav-links{
display:flex;
gap:30px;
list-style:none;
}

.nav-links a{
text-decoration:none;
color:white;
}

.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.hero-bg{
position:absolute;
width:100%;
height:100%;
background:url(images/hero-scam.jpg) center/cover;
opacity:.25;
}

.hero-content{
z-index:2;
max-width:700px;
}

.hero h1{
font-size:70px;
margin-bottom:20px;
}

.section{
padding:120px 60px;
}

.dark{
background:#14171d;
}

.container{
max-width:1200px;
margin:auto;
}

.timeline{
display:grid;
gap:60px;
margin-top:60px;
}

.timeline img{
width:100%;
border-radius:10px;
margin-top:20px;
}

.fake-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
margin-top:50px;
}

.fake-site{
background:#1c2028;
padding:30px;
border-radius:12px;
}

.real-link{
color:#7df9ff;
}

.tools-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:40px;
margin-top:60px;
}

.tool{
background:#1b1f26;
padding:30px;
border-radius:10px;
}

.resources{
margin-top:40px;
line-height:2;
}

footer{
text-align:center;
padding:60px;
background:black;
margin-top:60px;
}

.credit{
opacity:.6;
margin-top:10px;
}
