*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter;
}

body{
background:#0a0d12;
color:white;
overflow-x:hidden;
}

#progress{
position:fixed;
top:0;
left:0;
height:4px;
background:#00e5ff;
width:0%;
z-index:999;
}

.navbar{
position:fixed;
width:100%;
display:flex;
justify-content:space-between;
padding:20px 60px;
background:rgba(10,10,15,.6);
backdrop-filter:blur(10px);
z-index:10;
}

.navbar ul{
display:flex;
gap:25px;
list-style:none;
}

.navbar a{
text-decoration:none;
color:white;
}

.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
position:relative;
}

.hero-bg{
position:absolute;
width:100%;
height:100%;
background:url("https://images.unsplash.com/photo-1550751827-4bd374c3f58b") center/cover;
opacity:.25;
}

.hero-content{
z-index:2;
}

.hero h1{
font-size:80px;
margin-bottom:20px;
}

.wave-wrapper svg{
width:100%;
display:block;
fill:#0a0d12;
}

section{
padding:120px 80px;
max-width:1200px;
margin:auto;
}

.stat-grid{
display:flex;
justify-content:space-around;
margin-top:60px;
}

.stat h1{
font-size:50px;
color:#00e5ff;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:40px;
margin-top:60px;
}

.card{
background:#141821;
border-radius:10px;
overflow:hidden;
}

.card img{
width:100%;
height:200px;
object-fit:cover;
}

.card h3{
padding:20px;
}

.card p{
padding:0 20px 20px 20px;
opacity:.8;
}

.operation img{
width:100%;
margin-top:40px;
border-radius:10px;
}

.tool-card{
background:#141821;
padding:30px;
border-radius:10px;
}

footer{
text-align:center;
padding:60px;
background:black;
margin-top:80px;
}
